body{
    background-image: url('bossmatch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}

.claim {
 margin: 100px;
 text-align: center;
 width: fit-content;
}

h1{
    font-weight: 900;
    color: #ff007b;
    text-shadow: 5px 5px 10px #000;
    font-size: 3rem;
    background-color: #000000;
    width: fit-content;
    padding: 10px 40px;
  margin: 0;
}

.subtitle {
    color: #97fffa;
    font-style: italic;
    letter-spacing: 1px;
    padding: 5px 0;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    text-shadow: 1px 1px 15px #97fffa;
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

    .subtitle{
        text-shadow: 1px 1px 5px #000000;
    }
}
